body{
    background-color: lightgrey;
}

.flex1{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0 ;

}

.buttonIndex{
}

.Contact {
    text-decoration: none;
    display: inline;
    width: 7%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: blue;
    border: solid;
    border-radius: 5em;
}

.buttonIndex {
    outline: none;
    text-decoration: none;
    display: inline;
    width: 7%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: blue;
    border: solid;
    border-radius: 5em;

}



.avatar{

    border-radius: 5em;
    box-shadow: 2em 2em 2em black;
}

.presentationTete{
    text-align: center;
}

.Titre2{
    padding: 1em;
    text-align: center;
}